h2,h3,h4{
  color: #444;
}
.App {
  text-align: center;
}
.App .multipageForm{
  width: 75%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 70% 30%;
}
.App .indexedStep{
  color: #fff;
  padding: 3px 8px;
  border-radius: 20px;
  background: #acacac;
}
.App .accomplished{
  color: #fff;
  padding: 3px 8px;
  border-radius: 20px;
  background: #6c54f2;
}
.App .RSPBprogressBar{
  margin: 15px 0 25px;
}
.App .multipageForm .pages{
  width: 93%;
  padding: 15px;
  text-align: left;
  border-radius: 5px;
  position: relative;
  background: #eee;
}
.App .multipageForm .realTimeContainer{
  height: 300px;
  overflow-y: auto;
}
.App .multipageForm .realTimeContainer .cards{
  padding: 10px 10px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 5px;
}
.App .multipageForm .realTimeContainer .subReal{
  width: 100%;
  font-size: 85px;
  padding-top: 65px;
  color: #6c54f2;
  text-align: center;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.1);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  width: 15px;
  transition: .5s;
  border-radius: 20px;
  background: #7d8dee;
}
.App .multipageForm .realTimeContainer .cards h4{
  margin: 5px 0 10px;
  color: #7d8dee;
}
.App .multipageForm .pages h3{
  margin: 0;
  color: #eee;
  padding: 25px 5px;
  border-radius: 5px;
  background: #6c54f2;
}
.App .multipageForm .pages .sucess{
  color: #555;
  padding: 68.5px 0;
  text-align: center;
}
.App .multipageForm .pages .fields{
  display: grid;
  margin: 5px 0;
  grid-template-columns: 35% 65%;
}
.App .multipageForm .pages .fields input{
  height: 25px;
  padding: 10px;
  outline: none;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.App .multipageForm .pages .buttonContainer{
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
.App .multipageForm .pages .buttonContainer button{
  width: 95px;
  outline: none;
  margin: 0 5px;
  color: #eee;
  padding: 10px 0;
  font-size: 19px;
  border-radius: 45px;
  border:1px solid #444;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}
.App .multipageForm .pages .buttonContainer button .fas{
  margin: 0 5px;
}